<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document Analysis</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Document Analysis</h1>
    <div class="content">
        
        <div class="button-container">
            <button type="button" onclick="importFile()" class="left-button">Select File</button>
            <button type="button" onclick="extractStructuredData()" class="right-button">Import</button>
            <button type="button" onclick="parseDocument()" class="parse-button">Parse</button>
            <!--<button type="button" onclick="visualizeDocument()" class="visualize-button">Visualize</button> -->
        </div>
    </div>
    <form id="uploadForm" enctype="multipart/form-data">
        <input type="file" name="file" accept=".png, .jpg, .jpeg, .pdf, .doc, .docx" id="fileInput" style="display: none;">
    </form>
    <div id="result"></div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
